<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Produccion" connectionString="Server=localhost;Port=5433;User ID=postgres;Password=LX300II**01;Database=bdactualizaciones2"/>
    <add name="Test" connectionString="Server=localhost;Port=5433;User ID=postgres;Password=LX300II**01;Database=bdtest"/>
  </connectionStrings>
</configuration>